h1 {
    color: violet;
}

.row > div {
    border: solid;
}

.row .break-header, .row .break-hero {
    margin: 0;
    border:none; 
}

@media (min-width: 576px) {
 
}

@media (min-width: 992px) {

}