:root {
    background-color: #F6F6F2;
    color: #388087;
}

* {
    box-sizing: border-box;
}

.outer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 1fr 60px;
    grid-template-areas:
        "header"
        "hero"
        "body"
        "footer";
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
}

.header-container {
    grid-area: header;
    background-color: #EDC7B7;
}

.hero-container {
    grid-area: hero;
    background-color:#EEE2DC;
}


.body-container {
    grid-area: body;
    background-color: #8b5db9
}

.ad-container {
    display: none;
}

.footer-container {
    grid-area: footer;
    background-color: #123C69;
}

/* main {
    width: 75%;
    height: 30%;
    align-self: center;
} */

.header-inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
        "brand brand"
        "nav tools";
    margin-top: 2px;
}

.header-inner-container .brand {
    grid-area: brand;
    justify-self: center;
    align-self: center;
    font-weight: 900;

}

.header-inner-container .nav  {
    grid-area: nav;
    /* justify-self: center;
    align-self: center; */
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: 'Coda', cursive;
    padding: 0 0 0 50px;
}
.collapsible-menu {
    padding: 0px 30px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

.collapsible-menu label {
    font-family:  'Coda', cursive;
    font-size: 30px;
    display: block;
    cursor: pointer;
    background: url(/images/add_aplis.png) no-repeat left center;
    padding: 10px 0 10px 70px;
}

input#menu {
    display: none;
}

input:checked +label {
    background-image: url(/images/close_aplis.png);
}

input:checked ~ .menu-content {
    max-height: 100%;
}

.header-inner-container .tools {
    grid-area: tools;
   align-self: flex-start;
}

.hero-container .hero-inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
       "cta";
    width: 100vw;
    height: 80vh;
    background-image: url(https://images.unsplash.com/photo-1494914656837-44eb36fe5471?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-inner .hero-feature {
    display: none;
}

.hero-inner .hero-cta {
    grid-area: cta;
    align-self: center;
}

.body-inner-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr 1fr;
    grid-template-areas:
       "art-feat"
       "body-ad"
       "art-list";
}

.article-feature {
    grid-area: art-feat;
    font-family: 'Coda', cursive;
    text-align: justify;
    margin: 30px;
}

.body-ad {
    grid-area: body-ad;
    display: flex;
    position: relative;
}

.body-ad img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.body-ad .button {
    position: absolute;
    top: 50%;
    left: 40%;
}


.article-listing {
    grid-area: art-list;
    text-align: justify;
    padding: 10px;
}

.article-listing {
    background-color: #8ebd5f;
}

.side-bar-container {
    display: none;
    background-color: yellowgreen;
}

#footer {
    text-align: center;
    margin-top:3%;
    color: white;
}

@media (min-width: 576px) {
    
    .outer-container {
        grid-template-columns: 3fr 6fr 3fr;
        grid-template-rows: 0.05fr 0.8fr 0.8fr 0.1fr 60px;
        grid-template-areas:
        "header header header"
        "hero hero hero"
        "body body body"
        "sidebar sidebar sidebar"
        "footer footer footer";
        background-color: silver;
    }

    .header-inner-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 0.2fr;
        grid-template-areas:
            "brand nav tools";
        margin-top: 10px;
        grid-gap: 2px;
    }

    .header-inner-container .brand, .header-inner-container .tools {
        align-self: flex-start;
    }

    .hero-inner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px;
        grid-template-areas:
           "hero-feature"
           "cta";
    }

    .hero-feature {
        display: block;
        grid-area: hero-feature;
        background-color: salmon;
    }

    .body-inner-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
           "art-feat body-ad"
           "art-list art-list";
    }

    .article-feature {
        align-self: center;
    }

    .body-ad img {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .side-bar-container {
        display: block;
        grid-area: sidebar;
        background-color: yellow;
    }

    .side-bar-feature {
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
    }

    .side-bar-container li {
        display: flex;
        list-style-type: none;
    }

    #footer {
        margin-top:2%;
    }
   
}

@media (min-width: 992px) {
    .outer-container {
        grid-template-columns: 2fr 7fr 3fr;
        grid-template-rows: 0.2fr 0.8fr 0.5fr 60px;
        grid-template-areas:
        "header header header"
        "hero hero ad"
        "body body sidebar"
        "footer footer footer";

    }

    .header-inner-container {
        display: grid;
        grid-template-columns: 2fr 7fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "brand nav tools"
    }

    .hero-inner {
        grid-template-columns: 6fr 3fr;
        grid-template-rows: 100px;
        grid-template-areas:
           "hero-feature cta";
    }

    .ad-container {
        grid-area: ad;
        display: flex;
        position: relative;
    }

    .ad-container img {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .ad-container .button {
        position: absolute;
        top: 50%;
        left: 40%;
    }

    .body-ad {
        display: none;
    }

    .body-inner-container {
        display: grid;
        grid-template-columns: 3fr 6fr;
        grid-template-rows: 1fr;
        grid-template-areas:
           "art-feat art-list";
    }

    .article-listing {
       align-self: center;
    }

    .side-bar-feature {
        display: block;
        justify-content: center;
        margin-left: 10px;
        margin-top: 10px;
    }

    #footer {
        margin-top:1%;
    }

}